<script src='//require.nexxcdn.com/{{ omnia_id }}' type='text/javascript'></script>
<div id='{{ container_id }}'></div>
<script type='text/javascript'>
    onPLAYReady=function(){_play.init('{{ container_id }}',{{ video_id }} ,'single');}
</script>
